# This file is managed by Puppet
<VirtualHost *:80>
    ServerName <%= @name %>
    ServerAlias www.<%= @name %>
    DocumentRoot <%= @docroot %>

    <Directory <%= @docroot %>>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
